h1 {
  font-size: 3rem;
  text-transform: uppercase;
  padding-bottom: 10px;
  padding-top: 25px;
  color: royalblue;
  font-weight: 800;
  font-family: sans-serif;
  text-align: center;
  text-shadow: 1px 1px 0 #f0e0e0, -1px 1px 0 #f0e0e0, -1px -1px 0 #505050,
    1px -1px 0 #f0e0e0;
}
/* Using sans-serif for headlines and serif (times new roman) for paragraphs.
Looks good together and the serif fond aligns with the paper reference */
a:link {
  color: royalblue;
  text-shadow: 2px 2px 0 #f0e0e0, -2px 2px 0 #505050, -2px -2px 0 #505050,
    2px -2px 0 #505050;
  letter-spacing: 0.1pc;
}
a:hover {
  color: yellowgreen;
}
a:visited {
  color: yellowgreen;
}
h3 {
  color: lightgray;
  padding-bottom: 30px;
  font-family: sans-serif;
  text-align: center;
  font-weight: 500;
  text-shadow: 1px 1px 0 #505050, -1px 1px 0 #505050, -1px -1px 0 #505050,
    1px -1px 0 #505050;
}
h2 {
  color: yellowgreen;
  text-shadow: 1px 1px 0 #8e8e8c, -1px 1px 0 #505050, -1px -1px 0 #2a64ab,
    1px -1px 0 #505050;
  padding-top: 30px;
  padding-bottom: 10px;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.1pc;
  font-family: sans-serif;
  text-align: center;
}
.different {
  color: yellowgreen;
  padding-bottom: 5px;
  font-family: sans-serif;
  text-shadow: 1px 1px 0 #505050, -0.5px 0.5px 0 #505050,
    -0.5px -0.5px 0 #c0bebe, 0.5px -0.5px 0 #505050;
}
/* I chose these colors to match the aestehtic of broomstick.com */

ul {
  list-style: none;
}
li {
  padding-bottom: 10px;
  margin-left: 30px;
  list-style-type: circle;
  text-shadow: 1px 1px 0 #8e8e8c, -0.5px 0.5px 0 #505050,
    -0.5px -0.5px 0 #505050, 0.5px -0.5px 0 #8e8e8c;
}
h4 {
  padding-top: 10px;
}
p {
  line-height: 1.4;
  padding: 10px;
  text-shadow: 1px 1px 0 #8e8e8c, -0.5px 0.5px 0 #505050,
    -0.5px -0.5px 0 #505050, 0.5px -0.5px 0 #8e8e8c;
}
body {
  background-color: lightgrey;
  background-image: radial-gradient(
    rgb(167, 166, 166),
    rgb(134, 172, 243),
    rgb(182, 212, 122)
  );
  /* I chose the radial-gradient style for the circular look like our planet.
  I also think the grey center can symbolize the place we should place the rubbish to not affect our planet. 
  like an imaginary bin */
  color: beige;
  margin: 30px 100px 30px;
}
.container > div {
  border-radius: 5px;
  padding: 10px;
  background-color: cornflowerblue;
  border-color: yellowgreen;
}
/* Using grid to display the questions and answers to bring "equal" attention to each */
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 20px;
  border-color: yellowgreen;
}
/* I have generally tried to keep the colour palette within shades of blue, green and grey to somewhat match Broomstick.com */
