h1 {
  font-size: 01.7rem;
  text-transform: uppercase;
  padding-bottom: 10px;
  padding-top: 25px;
  color: royalblue;
  font-weight: 800;
  font-family: sans-serif;
  text-align: center;
  text-shadow: 1px 1px 0 #f0e0e0, -1px 1px 0 #f0e0e0, -1px -1px 0 #f0e0e0,
    1px -1px 0 #f0e0e0;
}
a:link {
  color: royalblue;
  text-shadow: 2px 2px 0 #505050, -2px 2px 0 #505050, -2px -2px 0 #505050,
    2px -2px 0 #505050;
  letter-spacing: 0.1pc;
}
a:hover {
  color: yellowgreen;
}
a:visited {
  color: yellowgreen;
}
h3 {
  color: beige;
  padding-bottom: 10px;
  font-family: sans-serif;
  text-align: center;
  font-weight: 500;
}
h2 {
  color: yellowgreen;
  text-shadow: 1px 1px 0 #505050, -1px 1px 0 #505050, -1px -1px 0 #505050,
    1px -1px 0 #505050;
  padding-top: 30px;
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 0.1pc;
  text-align: center;
}
.different {
  color: royalblue;
  padding-bottom: 5px;
  font-family: sans-serif;
  text-shadow: 1px 1px 0 #f0e0e0, -0.5px 0.5px 0 #f0e0e0,
    -0.5px -0.5px 0 #f0e0e0, 0.5px -0.5px 0 #f0e0e0;
}
/* I chose these colors to match the aestehtic of broomstick.com */

ul {
  list-style: none;

  /* list-style-type: square;
  list-style-position: inside; */
}
li {
  padding-bottom: 10px;
  margin-left: 30px;
  list-style-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.rawpixel.com%2Fsearch%2Fcrumpled%2520paper&psig=AOvVaw22HLKYI0vHTgL9i8NocS5t&ust=1712901140886000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCMjt-5q8uYUDFQAAAAAdAAAAABAE);
  /* The "dots" in the list are crumpled paper which also match elements from Broomstick.com */
}
h4 {
  padding-top: 10px;
}
p {
  line-height: 1.4;
  padding: 10px;
}
body {
  background-color: gray;
  color: beige;
  margin: 30px 100px 30px;
}
.container > div {
  border-radius: 5px;
  padding: 10px;
  background-color: darkgray;
  border: 2px cornflowerblue;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 20px;
}
