/*As this details page is very similar to the checkout page, most of the comments in the checkout page also applies to the details page.*/
body {
  background-image: linear-gradient(
    rgb(252, 206, 229),
    rgb(255, 221, 245),
    rgb(255, 226, 243)
  );
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  max-width: 1000px;
  justify-content: center;
  align-items: center;
  font-family: DM Serif Display;
}

.dm-serif-display-regular {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}

/* Header styling */
header {
  padding: 10px 0;
  text-align: center;
  width: 100%;
  background-color: white;
  top: 0;
  position: absolute;
}

h1 {
  font-size: 2rem;
  font-weight: 800;
  color: palevioletred;
}

/* Navigation styling */
nav {
  margin-top: 20px;
  text-align: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-right: 20px;
}

/* Styling the details box */
.container {
  background-color: white;
  width: 500px;
  min-height: 500px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  font-size: 2rem;
  text-align: left;
  padding-bottom: 10px;
}

p {
  text-align: left;
  padding: 10px;
  font-size: 1.5rem;
}

#e-mail {
  padding: 10px;
  border-radius: 10px;
  width: 460px;
}

#address1,
#address2 {
  padding: 10px;
  border-radius: 10px;
}

/* Payment form */
form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  gap: 20px;
}

#cardholder,
#cardnumber,
#expirydate,
#securitycode {
  padding: 10px;
  border-radius: 10px;
}

button {
  padding: 10px;
  cursor: pointer;
  border: none;
  background-color: palevioletred;
  border-radius: 10px;
}

button:hover {
  background-color: rgb(147, 75, 99);
  transition: scale 0.3s ease background-color 0.3s ease;
}
