body {
  background-image: linear-gradient(
    rgb(252, 206, 229),
    rgb(255, 221, 245),
    rgb(255, 226, 243)
  );
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  max-width: 1000px;
  justify-content: center;
  align-items: center;
  font-family: DM Serif Display;
}

.dm-serif-display-regular {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}

/* Header styling */
header {
  padding: 10px 0;
  text-align: center;
  width: 100%;
  background-color: white;
  top: 0;
  position: absolute;
}

h1 {
  font-size: 2rem;
}

/* Navigation styling */
nav {
  margin-top: 20px;
  text-align: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-right: 20px;
}

/* Styling the price summary box */
.container {
  background-color: white;
  width: 400px;
  min-height: 400px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  font-size: 2rem;
  text-align: left;
  padding-bottom: 50px;
}

p {
  text-align: left;
  padding-bottom: 40px;
}
