/* Body styling */
body {
  background-image: linear-gradient(
    rgb(252, 206, 229),
    rgb(255, 221, 245),
    rgb(255, 226, 243)
  );
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  max-width: 1000px;
  justify-content: center;
  align-items: center;
  font-family: DM Serif Display;
}

/* I generel I am keeping the design simple and using pink/rose colours. */
/* When I have looked at other shopping websites with the similar inactivity as the one I am making, they all have a colour scheme they use throughout the pages. */
/* The examples I looked at did not use thep pink/rose colours so therefore I chose to go with this aesthetic. */
/* This of course also applies to the details page. */

.dm-serif-display-regular {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}

/* Header styling */
header {
  padding: 10px 0;
  text-align: center;
  width: 100%;
  background-color: white;
  top: 0;
  position: absolute;
}

h1 {
  font-size: 2rem;
  font-weight: 800;
  color: palevioletred;
}

/* Navigation styling */
nav {
  margin-top: 20px;
  text-align: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-right: 20px;
}

/* Styling the price summary box */
.container {
  background-color: white;
  width: 400px;
  min-height: 400px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inner {
  padding: 10px;
  /* z-index: 1; */
  /* position: absolute;
  bottom: 0; */
}

h2 {
  font-size: 2rem;
  text-align: left;
  padding-bottom: 50px;
}

p {
  text-align: left;
  padding-bottom: 40px;
}

span.price {
  float: right;
}

h4 {
  text-align: left;
  font-size: 1.5rem;
}

/* Styling the checkout button */
button {
  padding: 10px;
  cursor: pointer;
  border: none;
  background-color: palevioletred;
  border-radius: 10px;
  width: 350px;
  color: white;
}

/* In this context it is important for the shopping site to get the customer to actually buy the items they have added to their bag.*/
/* Therefore, the checkout button should be big in size and be in a colour that stands out from the rest. */
/* The hover effect is also important for the context because it underlines that this is something you can click on. */
/* The same applies for the fact that the cursor is a pointer --> again something that emphasizes the clicking action. */
/* I have made the colour of the "PROCEED TO CHECKOUT" text white because I think it makes it stand out more. Especially when hovering over the button and it turns a darker shade.*/

button:hover {
  background-color: rgb(147, 75, 99);
  transition: scale 0.3s ease background-color 0.3s ease;
}
